[user]
	email = praneshp@dropbox.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[core]
    editor = vim
[color]
    ui = true
    status = auto
    branch = auto
[log]
	abbrevCommit = true
	date = short
[format]
	pretty = oneline
	pretty = %C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s
	date = short
[dbx]
	messagedisplayversion = 1
